.logo-header {
    font-family: Poppins;
    font-size: 50px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.51;
    letter-spacing: normal;
    text-align: left;
    color: #eb2929;
    width: 70px;
    height: 40px;
    border-radius: 50%;
    background-color:lightsalmon;
    vertical-align: middle;
    text-align: center;
    margin-left: 20%;
    line-height: 65px;
}

.header {
    height: 80px;
    padding-top: 5px;
    background-color: #ce0505;
}

.login {
    width: 44px;
    height: 23px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 4.56;
    letter-spacing: normal;
    color: #ffffff;
    margin-left: 31%;
}

.rectangle {
    width: 160px;
    height: 10px;
    border-radius: 7px;
    border: solid 1px #ffffff;
    float: right;
    margin-right: 20%;
    margin-top: -2%;
}

.account {
    width: 152px;
    height: 23px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.56;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.main-heading {
    height: 70px;
    font-family: Poppins;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    margin: 2%;
}

.Rectangle-5 {
    height: 700px;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    margin-left: 10%;
}

.Filters {
    height: 25px;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    padding-left: 6%;
}

.Select-Location {
    height: 40px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    margin-left: 7%;
}

.textbox {
    width: 208px;
    height: 35px;
    border-radius: 3px;
    border: solid 1px #8c96ab;
    margin-right: 13%;
}

.Cost-For-Two {
    height: 45px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    margin-left: 7%;
}

.Sort {
    height: 45px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    margin-left: 7%;
}

.item {
    width: 875px;
    height: 370px;
    box-shadow: 10px 10px 10px lightblue;
    background-color:lavenderblush;
    margin-bottom: 20px;
    border-radius:2%;
    
}

.option-item {
    font-family: Poppins;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: left;
    color: #8c96ab;
    margin-right: 100px;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.hotel_name {
    width: 90%;
    height: 30px;
    font-size: 25px;
    font-weight:bold;
    text-align: center;
    color:navy;
    background-color:lavenderblush;
    margin-top:70px;

}

.image {
    width: 380px;
    height: 250px;
    border-radius: 23px;
    background-color: #ea6060;
    margin-left:10%;
    margin-top: 5%;
    box-shadow: 8px 15px 10px lightblue;
}

.city_name {
    width: 90%;
    height: 23px;
    font-size: 16px;
    font-weight:bold;
    text-align: center;
    color:navy;
    background-color: lavenderblush;
    
}
.col-md-4{
    margin-top:60px;
    color:red;
    margin-left:120px;
}

.address-text {
    width: 100%;
    height: 23px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.88;
    letter-spacing: normal;
    text-align: left;
    color: #636f88;
}
.row{
    color:navy
}
.row-height {
    height: 60%;
    padding-top: 4%;
}

.cuisine_block {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color:navy;
    margin-left:20%;
}

.cuisine_out {

    font-size: 16px;
    font-weight:bold;
    text-align: left;
    color:navy;
}
